* {
  margin: 0;
  padding: 0;
}
.clearF {
  overflow: auto;
  zoom: 1;
}
.fL {
  float: left;
}
.fR {
  float: right;
}
.map {
  margin: 50px auto;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}
.map li {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  float: left;
  list-style-type: none;
}
.map .red {
  background-color: red;
}
.map .green {
  background-color: green;
}
.map .blue {
  background-color: blue;
}
.button {
  display: block;
  margin: 0 auto;
}
